$bg-colors: (
  "principal": $color-principal,
);

$text-colors: (
  "principal": $color-light,
);

.botones {

    @include small{
        padding: $btn-padding-small*1.2;
        font-size: $font-size-small*1.2;
    }
    @include medium{
        padding: $btn-padding-medium*1.2;
        font-size: $font-size-medium*1.2;
    }
    @include large{
        padding: $btn-padding-large*1.2;
        font-size: $font-size-large*1.2;
    }

  border-radius: 8px;
  background-color: #3D8ED9;
  border:0.5vh solid  #2C698D;
  font-style: bold;
  color: white;
  margin: 1vh;
  }


@each $k, $v in $bg-colors {
    .botones-#{$k} {
      background-color: $v;
    }
  }

  @each $k, $v in $text-colors {
    .botones-#{$k} {
        color: $v;
    }
  }