
$font-size-small: 1vh;
$font-size-medium: 2vh;
$font-size-large: 2.5vh;

$height-small:1vh;
$height-medium:1.5vh;
$height-large:2vh;

$width-small:1vh;
$width-medium:1.5vh;
$width-large:2vh;

$width-video-small:400px;
$width-video-medium:500px;
$width-video-large:600px;

$height-video-small:300px;
$height-video-medium:400px;
$height-video-large:500px;








