
$font-size-small: 15px;
$font-size-medium: 17px;
$font-size-large: 20px;

$width-small:50vh;
$width-medium:80vh;
$width-large:100vh;

$btn-padding-small: 1vh;
$btn-padding-medium: 1.25vh;
$btn-padding-large: 1.5vh;









