<ion-header [translucent]="true" class="head">
  <h3
   class="title"
  >
    NAGELEN ESKULTURA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex;flex: row;justify-content: center;">
    <div class="ion-canvas" (window:resize)="onResize($event)">
      <canvas style="border:solid black 2px;" #imageCanvas (touchend)="getUnlicked($event);" (touchstart)="getTouchStart($event);" (touchmove)="getTouchMove($event)" (mousedown)="getClicked($event)" (mousemove)="getMoved($event)" (mouseup)="getUnlicked($event)" ></canvas>
    </div>
  </div>
</ion-content>
<ion-footer class="foot"> </ion-footer>