<ion-header [translucent]="true" class="head">
  <link href="../../assets/style.css" rel="stylesheet">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    Mikel Urdangarin - ENTZUN AUDIOA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex;flex-direction:column;align-items: center">
   
      <audio controls style=" margin-top: 30px;">
        <source src="../../assets/audio/mikel-urdangarin2.mp3" type="audio/ogg"/>
      </audio><br>

     

    <div id="mikel-urdangarin-jokua">
    <h5>
      Utzidazu kontatzen ze ederra den <select name="hutsune1" id="hutsune1" form="hutsuneform">
        <option value="" selected></option>
        <option value="bueltatzea">Bueltatzea</option>
        <option value="atertzea">Atertzea</option>
        <option value="itzultzea">Itzultzea</option>
        
      </select><br><br>
       Utzidazu kontatzen malko urdinen
      artean Utzidazu kontatzen ze <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="" selected></option>
        <option value="alferra">Alferra</option>
        <option value="ederra">Ederra</option>
        <option value="elderra">Elderra</option>
        
      </select> den jakitea Maiteko zaitudala
      itsasoaren beste aldean <br><br>Utzidazu kontatzen <select name="hutsune3" id="hutsune3" form="hutsuneform">
        <option value="" selected></option>
        <option value="pozarren">Pozarren</option>
        <option value="izarren">Izarren</option>
        <option value="aztarren">Aztarren</option>
        
      </select> artean <br><br>Utzidazu
      laztantzen hiru akorde hauetan, Utzidazu kontatzen ze ederra den zu
      ikustea<br><br> Utzidazu kontatzen Ze ederra izango den itzulera Elkarren <select name="hutsune4" id="hutsune4" form="hutsuneform">
        <option value="" selected></option>
        <option value="besoen">Besoen</option>
        <option value="nengoen">Nengoen</option>
        <option value="ziroen">Ziroen</option>
        
      </select>
      zabalera Zure fede guztiei eustea Zure bi malkoak <select name="hutsune5" id="hutsune5" form="hutsuneform">
        <option value="" selected></option>
        <option value="baretzea">Baretzea</option>
        <option value="elkartea">Elkartea</option>
        <option value="sartzea">Sartzea</option>
        
      </select> <br><br>Utzidazu kontatzen
      behin ume zirela <select name="hutsune6" id="hutsune6" form="hutsuneform">
        <option value="" selected></option>
        <option value="gerrestu">Gerrestu</option>
        <option value="antzeztu">Antzeztu</option>
        <option value="ameztu">Ameztu</option>
        
      </select> 
      zutela itsasoaren beste aldeaz Hegan egiteko <select name="hutsune7" id="hutsune7" form="hutsuneform">
        <option value="" selected></option>
        <option value="besoak">Besoak</option>
        <option value="hegoak">Hegoak</option>
        <option value="lumak">Lumak</option>
        
      </select>
      <br><br>Bakean bizitzeko Ez dute besterik <select name="hutsune8" id="hutsune8" form="hutsuneform">
        <option value="" selected></option>
        <option value="nahi">Nahi</option>
        <option value="gaur">Gaur</option>
        <option value="bai">Bai</option>
        
      </select> Gaur gurekin <select name="hutsune9" id="hutsune9" form="hutsuneform">
        <option value="" selected></option>
        <option value="agurtzeko">Agurtzeko</option>
        <option value="azaltzeko">Azaltzeko</option>
        <option value="dantzatzeko">Dantzatzeko</option>
        
      </select> Ze ederra izango
      den itzulera <br><br>Elkarren besoen zabalera Zure <select name="hutsune10" id="hutsune10" form="hutsuneform">
        <option value="" selected></option>
        <option value="fede">Fede</option>
        <option value="xede">Xede</option>
        <option value="lege">Lege</option>
        
      </select> guztiei eustea <br><br>Zure bi
      malkoak <select name="hutsune11" id="hutsune11" form="hutsuneform">
        <option value="" selected></option>
        <option value="lasaitzea">Lasaitzea</option>
        <option value="baretzea">Baretzea</option>
        <option value="ibiltzea">Ibiltzea</option>
        
      </select> <br><br>Ze ederra izango den itzulera Elkarren besoen <select name="hutsune12" id="hutsune12" form="hutsuneform">
        <option value="" selected></option>
        <option value="zabalera">Zabalera</option>
        <option value="pasaera">Pasaera</option>
        <option value="sarrera">Sarrera</option>
        
      </select> Zure
      fede guztiei eustea Zure bi malkoak
    </h5>
  </div>

  </div>
</ion-content>
<ion-footer class="foot">
  <a href="../tabs/mikel-urdangarin-jokua"> <button id="jarraitu">JARRAITU</button></a>
</ion-footer>