<ion-header [translucent]="true" class="head">
  <h3
    style="
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
    "
  >
    HAIZETARA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo" style="display: flex; justify-content: center">
    <div
      style="
        display: flex;
        justify-content: center;
        width: 500px;
        border: solid;
        border-radius: 70px;
        margin-top: 100px;
        padding: 40px;
      "
    >
      <audio controls>
        <source src="../../assets/audio/haizetaraa.m4a" type="audio/ogg"/>
      </audio>
    </div>
  </div>
</ion-content>
<ion-footer class="foot">
  <button (click)="navigateTo()" id="jarraitu">JARRAITU</button>
</ion-footer>
