<ion-header [translucent]="true" class="head">
  <h3 class="title">LARA IZAGUIRRE</h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="texto">
      <h3>
        Ba ote dakizue nor den Lara Izagirre? Lara, Zornotzan jaiotako zuzendari
        eta gidoilaria da.<br /><br />

        Zer nolako ikasketak egin behar dira zinema munduan aritzeko? Bai, Larak
        Ikus entzunezko ikasketak egin zituen Leioan eta horren ostean, New
        York-era joan zen film ikasketak aurrera eramateko. Amaitzeko,
        Katalunian gidoiak nola egiten ziren ikasi zuen.<br /><br />

        Norbaitek ikusi du Lararen filmen bat? 2015ean, “Un Otoño sin Berlin”
        aurkeztu zuen Donostiako Zinemaldian. Bere bigarren film luzeena “Nora”
        da eta 2020an argitaratu zuen.<br />
      </h3>
    </div>
  </div>
</ion-content>
<ion-footer class="foot">
  <button (click)="navigateTo()" id="jarraitu" class="botones">JARRAITU</button>
</ion-footer>
