<ion-header [translucent]="true" class="head">
  <h3
    class="title"
  >
    HAIZETARA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="texto">
    <br/>
      <h3>Non ospatzen da?</h3>
      <select id="hutsune1">
        <option value="zornotzan">Zornotzan</option>
        <option value="durangon">Durangon</option>
        <option value="gernikan">Gernikan</option>
      </select> 
      <br/><br/>
      <h3>Zer ospatzen da?</h3>
      <select id="hutsune2">
        <option value="kirol ekintza bat">Kirol ekintza bat</option>
        <option value="musika lehiaketa bat">Musika lehiaketa bat</option>
        <option value="trotila txapelketa bat">Trotila txapelketa bat</option>
      </select> 
      <br/><br/>
      <h3>Nondik datoz musikariak?</h3>
      <select id="hutsune3">
        <option value="bizkaiatik">Bizkaiatik</option>
        <option value="europatik">Europatik</option>
        <option value="mundu osotik">Mundu osotik</option>
      </select> 
      <br/><br/>
      <h3>Zein urtarotan ospatzen da?</h3>
      <select id="hutsune4">
        <option value="udaberrian">Udaberrian</option>
        <option value="udan">Udan</option>
        <option value="udazkenean">Udazkenean</option>
      </select> 
      <br/><br/>
      <h3>Zenbat irauten du?</h3>
      <select id="hutsune5">
        <option value="3 egun">3 egun</option>
        <option value="5 egun">5 egun</option>
        <option value="aste bat">Aste bat</option>
      </select> 
      <br/><br/>
      <h3>Zenbat sari banatzen dira?</h3>
      <select id="hutsune6">
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="3">3</option>
      </select> 
      <br/><br/>
    </div>
  </div>
    <ion-footer class="foot">
      <button (click)="validate()" id="validate" class="botones">ZUZENDU</button>
    </ion-footer>
