<ion-header [translucent]="true" class="head">
  <h3
    class="title"
  >
    HAIZETARA
  </h3>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="haizetara-jokua">
      <h1>GALDERAK</h1>
    <br/>
      <h5>Non ospatzen da?</h5>
      <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="alferra">Zornotzan</option>
        <option value="ederra">Durangon</option>
        <option value="elderra">Gernikan</option>
      </select> 
      <br/><br/><br/>
      <h5>Zer ospatzen da?</h5>
      <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="alferra">Kirol ekintza bat</option>
        <option value="ederra">Musika lehiaketa bat</option>
        <option value="elderra">Trotila txapelketa bat</option>
      </select> 
      <br/><br/><br/>
      <h5>Non ospatzen da?</h5>
      <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="alferra">Zornotzan</option>
        <option value="ederra">Durangon</option>
        <option value="elderra">Gernikan</option>
      </select> 
      <br/><br/><br/>
      <h5>Nondik datoz musikariak?</h5>
      <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="alferra">Bizkaiatik</option>
        <option value="ederra">Europatik</option>
        <option value="elderra">Mundu osotik</option>
      </select> 
      <br/><br/><br/>
      <h5>Zein urtarotan ospatzen da?</h5>
      <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="alferra">Udaberrian</option>
        <option value="ederra">Udan</option>
        <option value="elderra">Udazkenean</option>
      </select> 
      <br/><br/><br/>
      <h5>Zenbat irauten du?</h5>
      <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="alferra">3 egun</option>
        <option value="ederra">5 egun</option>
        <option value="elderra">Aste bat</option>
      </select> 
      <br/><br/><br/>
      <h5>Zenbat sari banatzen dira?</h5>
      <select name="hutsune2" id="hutsune2" form="hutsuneform">
        <option value="alferra">2</option>
        <option value="ederra">1</option>
        <option value="elderra">3</option>
      </select> 
      <br/><br/><br/>
    </div>


</ion-content>
<ion-footer class="foot">
 <button id="jarraitu">Zuzendu</button>
</ion-footer>
