.fondo {
  background-color: linear-gradient(#2C698D, #BAE8E8);
}

#jarraitu {
  padding: 1.7vh;
  border-radius: 8px;
  background-color: #144674;
  font-size: 15px;
  font-style: bold;
  color: white;
}

.class {
  justify-content: left;
  align-items: left;
}

.head {
  background-color: #3D8ED9;
  padding: 2vh;
}

.foot {
  display: flex;
  justify-content: center;
}

.buho-animation {
  animation-name: buho-animation;
  animation-duration: 2s;
}

@keyframes buho-animation {
  0% {
    margin-left: -20%;
    rotate: 0deg;
  }

  25% {
    margin-left: 40%;
    rotate: 360deg;
  }

  75% {
    margin-left: 40%;
    rotate: 360deg;
  }

  100% {
    margin-left: -20%;
    rotate: 0deg;
  }
}

.black_bg_animation {
  animation-name: black-bg-animation;
  animation-duration: 2s;
}

@keyframes black-bg-animation {
  0% {
    opacity: 60%;
    margin-left: 0;
  }

  75% {
    opacity: 60%;
    margin-left: 0;
  }

  100% {
    opacity: 0%;
    margin-left: 0;
  }
}

#buho,
#black_bg {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.title {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
}


.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.texto {
  border: solid;
  border-radius: 10px;
  margin: 4.5vh;
  padding: 40px;
  
}